@mixin box-shadow($bulr: 20px, $color: #1989fa7a) {
  -webkit-box-shadow: 0px 0px $bulr $color;
  -moz-box-shadow: 0px 0px $bulr $color;
  box-shadow: 0px 0px $bulr $color;
}
@mixin scoollbar {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 6px; //滚动条的宽度
  }
  &::-webkit-scrollbar-thumb {
    background-color: #949da596; //滚动条的颜色
    border-radius: 3px; //滚动条的边框倒角
  }
}
// hover事件
@mixin hover {
  &:hover {
    background-color: rgb(22, 150, 224);
    color: #fff;
  }
}
// 单行文本超出
@mixin oneLineTextout {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
// 过渡属性添加，有三个参数时间，过渡类型，过渡属性
@mixin my-transition($time, $changetype, $el-property) {
  transition-property: $el-property;
  transition-duration: $time;
  transition-timing-function: $changetype;
}
